/* my guebsite */
html {
    scroll-behavior:smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem auto;
}
.content {
    background-color: white;
    padding: 1rem 0rem;
}
h1 {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 3rem;
    text-shadow: 3px 3px 2px darkgrey;
    background-color: black;
    margin: auto;
    padding: 2rem 1rem;
}
#navbar {
    overflow: hidden;
    background-color: #777;
    padding: 1rem;
}

#navbar a {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
}
#navbar a:visited, #navbar a:focus, #navbar a:hover {
    background: white;
    border-radius: 10px;
}
a:active {
    background:rgb(92, 81, 81);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}

form {
padding: 0 5rem;
}

label {
display: block;
}
textarea {
height: 10rem;
padding:1rem;
}

button {
font-size: 1rem;
margin: 2rem 0;
background-color: white;
color: black;
border:none;
padding:0.5rem 1rem;
border-radius: 10px;
}

legend {
color:white;
font-weight: bold;
font-size: 1.3rem;
margin-top: 1.5rem;
margin-bottom: 1rem;
}
fieldset {
border: 3px solid white;
border-radius: 10px;
margin-bottom: 2rem;
}

#section2 {
background-color: darkgrey;
text-align: center;
}

#section1 {
padding:5rem;
}

.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 1.5rem;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;

}
  
.active, .accordion:hover {
background-color: #ccc;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {

width: 100%;
background-color: white;
display: none;
overflow: hidden;
max-height: 0;
transition: max-height 0.2s ease-out;


}

.accordion:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 1rem;
color: #777;
float: right;
margin-left: 0.5rem;
}
      
.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}
  
h2 {

font-family: 'Anton', sans-serif;
color: white;
font-size: 3rem;
text-shadow: 3px 3px 2px darkgrey;
background-color: black;
padding: 5rem 2rem;
margin: 0rem;
}